/*
  Primary color   CC6666
  Secondary color 222
*/
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  background: #222;
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  transition: background .5s cubic-bezier(1,0,1,1);
}
#bar {
  margin: 0;
  padding: 0 10px;
  position: fixed;
  bottom: 0;
  background: #CC6666;
  width: 100%;
  font-size: 0;
  height: 40px;
}
#bar > li {
  display: inline-block;
  padding: 10px 10px;
  transition: background .2s;
  font-size: 20px;
  line-height: 1;
}
#logo {
  font-weight: bold;
  /*font-size: 30px;*/
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
.btn {
  cursor: pointer;
  position: relative;
}
.btn:hover {
  background: #804040;
}
.btn > ul {
  max-height: 0;
  overflow: hidden;
  padding: 0 5px;
  position: absolute;
  bottom: 40px;
  left: -5px;
  list-style: none;
  background: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.8);
  transition: padding .2s, max-height .2s;
}
.btn:hover > ul {
  padding: 5px;
  max-height: 100vh;
}
.btn > ul li {
  padding: 5px;
}
.btn > ul li:hover {
  background: rgba(0,0,0,0.1);
}
#stuff {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 40px;
  box-sizing: border-box;
}
#stuff > div {
  height: 100%;
}
#palette {
  width: 200px;
  background: #282828;
  float: left;
  display: flex;
  flex-direction: column;
}
#scripts {
  width: auto;
  overflow: hidden;
}
#otherstuff {
  width: 400px;
  background: #282828;
  float: right;
  display: flex;
  flex-direction: column;
}
#files {
  height: 200px;
  width: 100%;
  margin: 0;
  padding: 5px;
  list-style: none;
  font-size: 20px;
  /*position: absolute;
  bottom: 0;*/
}
#files li {
  border: 3px solid rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.3);
  text-shadow: 0 0 3px rgba(0,0,0,0.7);
  height: 50px;
  width: 50px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  cursor: pointer;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
#files li:hover {
  border: 3px solid rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.5);
}
#files li.open {
  border: 3px solid white;
  color: white;
}
#stage {
  width: 100%;
  height: 100%;
  border: none;
  background: white;
  cursor: pointer;
}
/*#stage:hover {
  box-shadow: inset 0 0 0 10px rgba(0,0,0,0.2);
}*/
.menu {
  position: fixed;
  background: rgba(255,255,255,0.8);
  color: rgba(0,0,0,0.8);
  margin: 0;
  padding: 5px;
  list-style: none;
  font-size: 15px;
}
.menu li {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.menu li:hover {
  background: rgba(0,0,0,0.1);
}
#sections {
  background: #333;
  width: 100%;
  height: 176px;
  padding: 0;
  margin: 0;
}
#sections li {
  height: 20px;
  padding: 1px 10px;
  border-left: 2px solid transparent;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
#sections li:not(.active):hover {
  background-color: rgba(255,255,255,0.1);
}
#sections li.active {
  padding-left: 5px;
  border-left-width: 7px;
  background-color: rgba(255,255,255,0.2);
  cursor: default;
}
.block.txtb{background:#333;}
#sections li:nth-child(1){border-color:#BD806A;}#blocks h1:nth-of-type(1){color:#BD806A;}.block.text{background:#BD806A;}
#sections li:nth-child(2){border-color:#9B6ABD;}#blocks h1:nth-of-type(2){color:#9B6ABD;}.block.frmt{background:#9B6ABD;}
#sections li:nth-child(3){border-color:#6A92BC;}#blocks h1:nth-of-type(3){color:#6A92BC;}.block.orgn{background:#6A92BC;}
#sections li:nth-child(4){border-color:#6ABC88;}#blocks h1:nth-of-type(4){color:#6ABC88;}.block.frms{background:#6ABC88;}
#sections li:nth-child(5){border-color:#BC6AA1;}#blocks h1:nth-of-type(5){color:#BC6AA1;}.block.mdia{background:#BC6AA1;}
#sections li:nth-child(6){border-color:#6AB6BC;}#blocks h1:nth-of-type(6){color:#6AB6BC;}.block.tble{background:#6AB6BC;}
#sections li:nth-child(7){border-color:#BDB16A;}#blocks h1:nth-of-type(7){color:#BDB16A;}.block.attr{background:#BDB16A;}
#sections li:nth-child(8){border-color:#818181;}#blocks h1:nth-of-type(8){color:#818181;}.block.othr{background:#818181;}
#title {
  height: 15px;
  font-size: 15px;
  padding: 5px;
  margin: 0;
  color: white;
  background: none;
}
#otherstuff button {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 5px;
  border: none;
  background-color: transparent;
  background-size: 15px;
  cursor: pointer;
}
#refresh {
  background-image: url('material_refresh.svg');
  right: 20px;
}
#fullscreen {
  background-image: url('material_fullscreen.svg');
  right: 5px;
}
#blocks {
  overflow-y: auto;
  margin: 3px 0;
  overflow-x: hidden;
  margin-right: 5px;
}
#blocks h1 {
  margin: 0;
  font-size: 15px;
  font-weight: normal;
  margin-left: 20px;
  position: relative;
  float: left;
  clear: left;
}
#blocks h1:before, #blocks h1:after {
  content: '';
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.3);
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: 7px;
}
#blocks h1:before {
  width: 10px;
  left: -15px;
}
#blocks h1:after {
  width: 200px;
  left: calc(100% + 5px);
}
#blocks::-webkit-scrollbar {
	display: none;
}
.block {
  /* NOTE: this is temporary */
  /*font-family: monospace;*/
  padding: 5px;
  font-size: 15px;
  color: white;
  text-shadow: 0 0 2px black;
  border: 2px solid rgba(0,0,0,0.2);
  float: left;
  margin: 2px 5px;
  clear: left;
  user-select: none;
  -webkit-user-select: none;
  cursor: -webkit-grab;
  white-space: nowrap;
}
body.fullscreen {
  background: #CC6666;
}
body.fullscreen > *:not(#stuff),
body.fullscreen #stuff > *:not(#otherstuff),
body.fullscreen #stuff #otherstuff *:not(#stage) {
  display: none;
}
body.fullscreen #stage {
  display: block;
  width: calc(100% - 10px);
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  margin-left: 10px;
}
#blankScrollThingy {
  width: 0;
  display: block;
  float: left;
  clear: left;
}
